@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("EBGaramond-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("EBGaramond-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("EBGaramond-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("EBGaramond-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("EBGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("EBGaramond-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("EBGaramond-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("EBGaramond-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("EBGaramond-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("EBGaramond-ExtraBoldItalic.ttf") format("truetype");
}
