<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - {{ config.site_name }}</title>

        <meta charset="utf-8">
        <meta name="author" content="{{ config.site_author }}">
        <meta name="description" content="{{ config.site_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ base_url }}/css/main.css">

        <link rel="stylesheet" href="{{ base_url }}/css/highlight-themes/gruvbox-dark-hard.css">
        <script src="//unpkg.com/@highlightjs/cdn-assets@11.3.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    

    <body>
        <header>
            <h1 class="title">{{ config.site_name }}</h1>
            <p class="subtitle">{{ config.site_description }}</p>
        </header>

        <div class="main-display row">
            <div class="nav-menu col-02-5">
                <ul>
                {% for nav_item in nav %}
                    {% if nav_item.children %}
                        <li class="group"><p class="grouptitle">{{ nav_item.title }}</p>
                            <ul class="sublist">
                            {% for nav_subitem in nav_item.children %}
                                <li class="{% if nav_subitem.active %}current{% endif %}">
                                    <a href="{{ nav_subitem.url|url }}">{{ nav_subitem.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="{% if nav_item.active %}current{% endif %}">
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div class="content col-07">
                {{ page.content }}
            </div>

            <div class="col-02-5"></div>
        </div>

        <footer>
            <p class="footer-text">{{ config.copyright }}</p>
        </footer>
    </body>
</html>
